@page "/"
@inject HomeService HomeService
@rendermode InteractiveServer

<PageTitle>All</PageTitle>

<h1>All</h1>

<button class="btn btn-primary" @onclick="ShowSearchAllDialog">Search with GPS</button>

@if ((_propParcHolder == null && _propParcHolder1 == null) || (_propParcHolder.Count == 0 && _propParcHolder1.Count == 0))
{
    <p><em>Loading...</em></p>
}
else
{
    @if (_propParcHolder == null && _propParcHolder1 == null)
    {
        <p><em>No teritorial units to display</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>TU Identification number</th>
                    <th>TU description</th>
                    <th>GPS1 width</th>
                    <th>GPS1 width position</th>
                    <th>GPS1 length</th>
                    <th>GPS2 length position</th>
                    <th>GPS2 width</th>
                    <th>GPS2 width position</th>
                    <th>GPS2 length</th>
                    <th>GPS2 length position</th>
                </tr>
            </thead>
            <tbody>
                @if (_propParcHolder != null) 
                {
                    @foreach (var propParc in _propParcHolder)
                    {
                        @if(propParc.Parcel != null) {
                            <tr>
                                <td>@propParc.Parcel.ParcNo</td>
                                <td>@propParc.Parcel.ParcDesc</td>
                                <td>@propParc.Parcel.GpsPosHandler.GpsPositioons[0].Width</td>
                                <td>@propParc.Parcel.GpsPosHandler.GpsPositioons[0].WidthPosition</td>
                                <td>@propParc.Parcel.GpsPosHandler.GpsPositioons[0].Length</td>
                                <td>@propParc.Parcel.GpsPosHandler.GpsPositioons[0].LengthPosition</td>
                                <td>@propParc.Parcel.GpsPosHandler.GpsPositioons[1].Width</td>
                                <td>@propParc.Parcel.GpsPosHandler.GpsPositioons[1].WidthPosition</td>
                                <td>@propParc.Parcel.GpsPosHandler.GpsPositioons[1].Length</td>
                                <td>@propParc.Parcel.GpsPosHandler.GpsPositioons[1].LengthPosition</td>
                            </tr>
                        } else {
                            <tr>
                                <td>@propParc.Property.InventNo</td>
                                <td>@propParc.Property.PropDesc</td>
                                <td>@propParc.Property.GpsPosHandler.GpsPositioons[0].Width</td>
                                <td>@propParc.Property.GpsPosHandler.GpsPositioons[0].WidthPosition</td>
                                <td>@propParc.Property.GpsPosHandler.GpsPositioons[0].Length</td>
                                <td>@propParc.Property.GpsPosHandler.GpsPositioons[0].LengthPosition</td>
                                <td>@propParc.Property.GpsPosHandler.GpsPositioons[1].Width</td>
                                <td>@propParc.Property.GpsPosHandler.GpsPositioons[1].WidthPosition</td>
                                <td>@propParc.Property.GpsPosHandler.GpsPositioons[1].Length</td>
                                <td>@propParc.Property.GpsPosHandler.GpsPositioons[1].LengthPosition</td>
                            </tr>
                        }
                    }
                }
                @if (_propParcHolder1 != null) 
                {
                    @foreach (var propParc1 in _propParcHolder1)
                    {
                        @if(propParc1.Parcel != null) {
                            <tr>
                                <td>@propParc1.Parcel.ParcNo</td>
                                <td>@propParc1.Parcel.ParcDesc</td>
                                <td>@propParc1.Parcel.GpsPosHandler.GpsPositioons[0].Width</td>
                                <td>@propParc1.Parcel.GpsPosHandler.GpsPositioons[0].WidthPosition</td>
                                <td>@propParc1.Parcel.GpsPosHandler.GpsPositioons[0].Length</td>
                                <td>@propParc1.Parcel.GpsPosHandler.GpsPositioons[0].LengthPosition</td>
                                <td>@propParc1.Parcel.GpsPosHandler.GpsPositioons[1].Width</td>
                                <td>@propParc1.Parcel.GpsPosHandler.GpsPositioons[1].WidthPosition</td>
                                <td>@propParc1.Parcel.GpsPosHandler.GpsPositioons[1].Length</td>
                                <td>@propParc1.Parcel.GpsPosHandler.GpsPositioons[1].LengthPosition</td>
                            </tr>
                        } else {
                            <tr>
                                <td>@propParc1.Property.InventNo</td>
                                <td>@propParc1.Property.PropDesc</td>
                                <td>@propParc1.Property.GpsPosHandler.GpsPositioons[0].Width</td>
                                <td>@propParc1.Property.GpsPosHandler.GpsPositioons[0].WidthPosition</td>
                                <td>@propParc1.Property.GpsPosHandler.GpsPositioons[0].Length</td>
                                <td>@propParc1.Property.GpsPosHandler.GpsPositioons[0].LengthPosition</td>
                                <td>@propParc1.Property.GpsPosHandler.GpsPositioons[1].Width</td>
                                <td>@propParc1.Property.GpsPosHandler.GpsPositioons[1].WidthPosition</td>
                                <td>@propParc1.Property.GpsPosHandler.GpsPositioons[1].Length</td>
                                <td>@propParc1.Property.GpsPosHandler.GpsPositioons[1].LengthPosition</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
}
@if (isSearchDialogVisible)
{
    <div class="modal fade show" tabindex="-1" role="dialog" style="display:block; background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search Parcel</h5>
                    <button type="button" class="btn-close" @onclick="CloseSearchAllDialog"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="gpsWToSearch1" class="form-label">GPS1 width position</label>
                        <input type="number" class="form-control" id="gpsWToSearch1" @bind="_gpsWToSearch1" />
                    </div>
                    <div class="mb-3">
                        <label for="gpsLToSearch1" class="form-label">GPS1 length position</label>
                        <input type="number" class="form-control" id="gpsLToSearch1" @bind="_gpsLToSearch1" />
                    </div>
                    <div class="mb-3">
                        <label for="gpsWToSearch2" class="form-label">GPS2 width position</label>
                        <input type="number" class="form-control" id="gpsWToSearch2" @bind="_gpsWToSearch2" />
                    </div>
                    <div class="mb-3">
                        <label for="gpsLToSearch2" class="form-label">GPS2 length position</label>
                        <input type="number" class="form-control" id="gpsLToSearch2" @bind="_gpsLToSearch2" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseSearchAllDialog">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick="SearchAll">Search</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<PropParcHolder> _propParcHolder = new List<PropParcHolder>();
    private List<PropParcHolder> _propParcHolder1 = new List<PropParcHolder>();
    private double _gpsWToSearch1, _gpsLToSearch1, _gpsWToSearch2, _gpsLToSearch2;
    private bool isSearchDialogVisible = false;

    void ShowSearchParcelDialog()
    {
        isSearchDialogVisible = true;
        StateHasChanged();
    }


    void SearchAll() {
        _propParcHolder = HomeService.SearchAll(_gpsWToSearch1, _gpsLToSearch1);
        _propParcHolder1 = HomeService.SearchAll(_gpsWToSearch2, _gpsLToSearch2);
        isSearchDialogVisible = false;
        _gpsWToSearch1 = 0.0;
        _gpsLToSearch1 = 0.0;
        _gpsWToSearch2 = 0.0;
        _gpsLToSearch2 = 0.0;
        StateHasChanged();
    }

    void ShowSearchAllDialog()
    {
        isSearchDialogVisible = true;
        StateHasChanged();
    }

     void CloseSearchAllDialog()
    {
        isSearchDialogVisible = false;
        _gpsWToSearch1 = 0.0;
        _gpsLToSearch1 = 0.0;
        _gpsWToSearch2 = 0.0;
        _gpsLToSearch2 = 0.0;
        StateHasChanged();
    }
}
